<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logFileDirectory" value="C:\Users\Nikeah\Desktop\" />
    <add key="logFileName" value="StxMCap.DataRetrieval-.txt" />
    
    <add key="InputFile" value="C:\RedSpiderTech\RedSpiderTech.StxMCap\Data\SymbolsOfInterest.txt"/>
    <add key="OutputFile" value="C:\RedSpiderTech\RedSpiderTech.StxMCap\Data\MarketDataGrab-.txt"/>
  </appSettings>
</configuration>